body {
  height: 100%;
  display: flex;
  flex-direction: block;
}

form {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* centrerar vertikalt */
  align-items: center;     /* centrerar horisontellt */
}

input {
  width: 100%;
  box-sizing: border-box; /* så att padding/marginal räknas in i bredden */
  margin-bottom: 1rem;    /* valfritt, för mellanrum mellan fälten */
}
