AUTH_SECRET=byt-ut-mig-till-en-lang-slumpad-hemlighet

PORT=3000
CORS_ORIGIN=http://localhost:5173
NODE_ENV=development
MONGO_URI=mongodb+srv://<user>:<password>@<cluster-url>/<database-name>?retryWrites=true&w=majority

